body {
    background-color: rgba(0, 0, 0, 0.991);
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#H1_text {
    font-size: 6.5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 13rem;
}

#container {
    display: inline-block;
    position: relative;
    align-self: center;
    align-items: center;
    width: 550px;
    height: 300px;
    border: 2px solid rgb(101, 101, 101);
    background-color: rgb(113, 113, 113);
    border-radius: 20px;
    margin-bottom: 2rem;
    margin-top: -7rem;
}

#container #clock {
    font-size: 7rem;
    margin-top: 2rem;
    font-family: 'Inter', sans-serif;
}

#container #StartStopBtn {
    position: relative;
    bottom: -1.5rem;
    width: 190px;
    height: 60px;
    border-radius: 15px;
    border: none;
    transition:0.4s cubic-bezier(0.30, 1, 0.35, 1);
}

#StartStopBtn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}